@namespace Maincotech.Cms.Pages.Blog

@if (Data != null)
{
    <div class="listContent">
        <div class="description">@GetBriefData()</div>
        <div class="extra">
            @*<Avatar Src="@Data.Avatar" Size="small" />*@
            <a href="@Data.Id">@Data.Id</a>
            <em>@Data.LastModifiedTime.ToString("yyyy-MM-dd HH:mm:ss")</em>
            <em>by @Data.Author </em>
        </div>
    </div>
}