@page "/blogs"
@inherits RuiComponentBase<IndexViewModel>
<PageHeader>
    <PageHeaderBreadcrumb>
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>Home</BreadcrumbItem>
                <BreadcrumbItem>@L["Breadcrumb.Blogs"]</BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
    </PageHeaderBreadcrumb>
    <PageHeaderContent>
        <Content>
            <div style="text-align: center;">
                <Search Placeholder="@L["Placeholder.SearchInput"]"
                        EnterButton="@L["Button.Search"]"
                        @bind-Value="ViewModel.SearchText"
                        Size="large"
                        Style="max-width: 522px; width: 100%;" OnSearch="() => Search()" />
            </div>
        </Content>
    </PageHeaderContent>
    <PageHeaderExtra>
        <div class="extraImg">
            <img alt="" src="https://gw.alipayobjects.com/zos/rmsportal/RzwpdLnhmvDJToTdfDPe.png" />
        </div>
    </PageHeaderExtra>
</PageHeader>

  
   
        
  
        <Card>
            <Form Model="ViewModel" Loading="ViewModel.IsLoadingCategories"
                  Layout="inline">
                <StandardFormRow Title="@L["Blog.Index.ParentCategory"]" Block Style="padding-bottom: 11px">
                    <FormItem>
                        <TagSelect CollapseText="@L["Button.Collapse"]" ExpandText="@L["Button.Expand"]" SelectAllText="@L["Button.SelectAll"]" Expandable Value="ViewModel.SelectedCategories" OnValueChanged="(values) => Search()">
                            @foreach (var item in ViewModel.Categories)
                            {
                                <TagSelectOption Value="@item.Id.ToString()" Tooltip="@item.Description">@item.Name</TagSelectOption>
                            }
                        </TagSelect>
                    </FormItem>
                </StandardFormRow>
            </Form>
        </Card>
        <Card>
            <ChildContent>
                <Skeleton Loading="IsLoading">
                    <Button Type="dashed" Style="width: 100%; margin-bottom: 8px;" OnClick="Create">
                        <Icon Type="plus" Theme="outline" />@L["Button.Add"]
                    </Button>
                    <AntList TItem="BlogViewModel"
                             Size="large"
                             Class="articleList"
                             ItemLayout="ListItemLayout.Vertical"
                             DataSource="ViewModel.Items">
                        <ListItem NoFlex>
                            <ListItemMeta Description="">
                                <TitleTemplate>
                                    <a href="@GetEditLink(context.Id)">@context.Title</a>
                                </TitleTemplate>
                            </ListItemMeta>
                            <ArticleBriefView Data="@context" />
                        </ListItem>
                    </AntList>
                    <Pagination PageIndex="ViewModel.PageNumber" Total="ViewModel.Total" PageSize="ViewModel.PageSize" OnPageIndexChange="(index) =>Search()"></Pagination>
                </Skeleton>
            </ChildContent>
        </Card>
   
