@page "/blogs"
@inherits RuiComponentBase<IndexViewModel>

@if (IndexViewModel != null)
{
<PageHeader>
    <PageHeaderContent>
        <Content>
            <div style="text-align: center;background-color:transparent">
                <Search Placeholder="@L["Placeholder.SearchBlog"]"
                        EnterButton="@L["Button.Search"]"
                        @bind-Value="IndexViewModel.SearchText"
                        Size="large"
                        Style="max-width: 522px;" OnSearch="Search" />
            </div>
        </Content>        
    </PageHeaderContent>   
</PageHeader>
       
              
   
            <Row Gutter="24">
                <AntDesign.Col Span="5">
                    <Card Style="margin-bottom: 24px;" Title="@L["Blogs.Categories"]" Loading="IndexViewModel.IsLoadingCategories"
                          BodyStyle="padding: 15px;">
                        @if (IndexViewModel.Categories?.Any() == true)
                        {
                            <TagSelect CollapseText="@L["Button.Collapse"]" ExpandText="@L["Button.Expand"]" Expandable HideCheckAll Value="IndexViewModel.SelectedCategories" OnValueChanged="(values) => Search()">
                                @foreach (var item in IndexViewModel.Categories)
                                {
                                    <TagSelectOption Value="@item.CategoryId.ToString()">@($"{item.CategoryName} ({item.Count})")</TagSelectOption>
                                }
                            </TagSelect>
                        }
                    </Card>
                </AntDesign.Col>
                <AntDesign.Col Span="15">
                    <Card Loading="IsLoading" BodyStyle="padding: 8px 32px 32px 32px;">
                        @if (ViewModel.Items?.Any() == true)
                        {
                            <AntList TItem="BlogViewModel"
                                     Size="large"
                                     Class="articleList"
                                     ItemLayout="ListItemLayout.Vertical"
                                     DataSource="ViewModel.Items">
                                <ListItem NoFlex Actions="@(new[] { iconText(("read",context.Views)),iconText(("like",context.Likes)),iconText(("message",context.CommentsCount)) })">
                                    <ListItemMeta Description="@context.Summary">
                                        <AvatarTemplate>
                                            <img width="100" alt="@context.Title" src="@context.Cover" />
                                        </AvatarTemplate>
                                        <TitleTemplate>
                                            <a href=@($"/{L.CurrentCulture.Name}/blogs/{context.PageName}")>@context.Title</a>
                                        </TitleTemplate>
                                    </ListItemMeta>
                                </ListItem>
                            </AntList>
                        }
                        else
                        {
                            <Empty />
                        }
                    </Card>
                </AntDesign.Col>
            </Row>
        

}

@code{
    RenderFragment<(string icon, string text)> iconText = context =>
    @<Template>
        <Space>
            <SpaceItem><Icon Type="@context.icon" /></SpaceItem>
            <SpaceItem>@context.text</SpaceItem>
        </Space>
    </Template>                                       ;
}